

/* line 16, ../../../app/stylesheets/main.sass */
body { margin: 0px; color: #444444; font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif; font-size: 11px; font-size-adjust: none; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: -0.04em; line-height: normal; }
/* line 29, ../../../app/stylesheets/main.sass */
body h1 { color: #88201B; font-size: 20px; padding-top: 10px; padding-bottom: 10px; }
/* line 35, ../../../app/stylesheets/main.sass */
body h2 { color: #005E8F; font-size: 14px; line-height: 1.5; font-weight: bold; }
/* line 41, ../../../app/stylesheets/main.sass */
body li { list-style: none; }
/* line 43, ../../../app/stylesheets/main.sass */
body ul { padding: 0px; }
/* line 4, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body ul html, body ul body { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
/* line 12, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body ul div, body ul span, body ul object, body ul iframe, body ul h1, body ul h2, body ul h3, body ul h4, body ul h5, body ul h6, body ul p, body ul pre, body ul a, body ul abbr, body ul acronym, body ul address, body ul code, body ul del, body ul dfn, body ul em, body ul img, body ul dl, body ul dt, body ul dd, body ul ol, body ul ul, body ul li, body ul fieldset, body ul form, body ul label, body ul legend, body ul caption, body ul tbody, body ul tfoot, body ul thead, body ul tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
/* line 16, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body ul blockquote, body ul q { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; quotes: "" ""; }
/* line 42, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body ul blockquote:before, body ul q:before, body ul blockquote:after, body ul q:after { content: ""; }
/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body ul th, body ul td, body ul caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-align: left; font-weight: normal; vertical-align: middle; }
/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body ul table { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; border-collapse: separate; border-spacing: 0; vertical-align: middle; }
/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body ul a img { border: none; }
/* line 47, ../../../app/stylesheets/main.sass */
body p { font-family: Helvetica,Arial,sans-serif; color: #777; }
/* line 50, ../../../app/stylesheets/main.sass */
body a { font-size: 12px; text-decoration: none; color: #005e8f; }
/* line 4, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
body a:hover { text-decoration: underline; }
/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body a:hover { color: red; }
/* line 55, ../../../app/stylesheets/main.sass */
body #topnav_container { background: #1D2029; height: 50px; overflow: hidden; right: 0; top: 0; width: 100%; }
/* line 64, ../../../app/stylesheets/main.sass */
body #topnav_container #topnav { width: 1590px; margin: 0 auto; overflow: hidden; display: inline-block; }
/* line 5, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
body #topnav_container #topnav { display: block; }
/* line 66, ../../../app/stylesheets/main.sass */
body #topnav_container #topnav h1 { padding: 0px; line-height: 1.0; margin: 0px; font-size: 18px; color: #005E8F; padding-right: 200px; }
/* line 74, ../../../app/stylesheets/main.sass */
body #topnav_container #topnav ul { margin: 0; padding: 0; border: 0; overflow: hidden; display: inline-block; padding: 16px; padding-left: 0px; }
/* line 5, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
body #topnav_container #topnav ul { display: block; }
/* line 10, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
body #topnav_container #topnav ul li { list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
body #topnav_container #topnav ul li.first { padding-left: 0px; }
/* line 19, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
body #topnav_container #topnav ul li.last { padding-right: 0px; }
/* line 78, ../../../app/stylesheets/main.sass */
body #topnav_container #topnav ul li { padding-right: 20px; }
/* line 81, ../../../app/stylesheets/main.sass */
body #topnav_container #topnav a { font-size: 14px; text-decoration: none; color: white; }
/* line 4, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
body #topnav_container #topnav a:hover { text-decoration: underline; }
/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body #topnav_container #topnav a:hover { color: red; }
/* line 90, ../../../app/stylesheets/main.sass */
body #sub_header_container { background: #F0F0F0 none repeat scroll 0 0; width: 100%; }
/* line 93, ../../../app/stylesheets/main.sass */
body #sub_header_container #sub_header { width: 1590px; margin: 0 auto; overflow: hidden; display: inline-block; }
/* line 5, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
body #sub_header_container #sub_header { display: block; }
/* line 96, ../../../app/stylesheets/main.sass */
body #sub_header_container #sub_header #heading { display: inline; float: left; margin-right: 10px; width: 490px; }
/* line 97, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html body #sub_header_container #sub_header #heading { overflow-x: hidden; }
/* line 98, ../../../app/stylesheets/main.sass */
body #sub_header_container #sub_header #sub_nav { display: inline; float: left; margin-right: 0; width: 690px; padding-top: 23px; text-align: right; }
/* line 97, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html body #sub_header_container #sub_header #sub_nav { overflow-x: hidden; }
/* line 102, ../../../app/stylesheets/main.sass */
body #sub_header_container #sub_header #sub_nav a { text-decoration: none; color: #777777; font-size: 14px; padding-left: 15px; }
/* line 4, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
body #sub_header_container #sub_header #sub_nav a:hover { text-decoration: underline; }
/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body #sub_header_container #sub_header #sub_nav a:hover { color: #88201b; }
/* line 110, ../../../app/stylesheets/main.sass */
body #content { width: 1590px; margin: 0 auto; overflow: hidden; display: inline-block; padding: 15px; border: 1px solid #cecece; }
/* line 5, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
body #content { display: block; }
/* line 115, ../../../app/stylesheets/main.sass */
body .clear { clear: both; }
/* line 118, ../../../app/stylesheets/main.sass */
body .column { display: inline; float: left; margin-right: 10px; width: 290px; }
/* line 97, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html body .column { overflow-x: hidden; }
/* line 122, ../../../app/stylesheets/main.sass */
body .column.parking, body .column.backlog, body .column.live { display: inline; float: left; margin-right: 10px; width: 590px; }
/* line 97, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html body .column.parking, * html body .column.backlog, * html body .column.live { overflow-x: hidden; }
/* line 125, ../../../app/stylesheets/main.sass */
body .column h2 { border: 1px #ccc solid; margin: 0px; background: #f0f0f0; color: #88201B; padding-left: 5px; margin-bottom: 5px; }
/* line 134, ../../../app/stylesheets/main.sass */
body .column.selected h2, body .column.to_test h2, body .column.deploy h2, body .column.backlog h2 { padding-bottom: 28px; }
/* line 137, ../../../app/stylesheets/main.sass */
body .column.parking { margin-top: 30px; }
/* line 139, ../../../app/stylesheets/main.sass */
body .column ul.column { margin-top: 0px; padding-top: 10px; border-bottom: 1px solid #666; border-top: 1px solid #666; }
/* line 144, ../../../app/stylesheets/main.sass */
body .column ul.column.parking, body .column ul.column.backlog, body .column ul.column.live { display: inline; float: right; position: relative; margin: 0 0px 1.5em 0px; }
/* line 147, ../../../app/stylesheets/main.sass */
body .column li.item { border: 1px solid #ccc; margin-bottom: 5px; padding: 5px; }
/* line 151, ../../../app/stylesheets/main.sass */
body .column li.item h3 { font-weight: bold; }
/* line 153, ../../../app/stylesheets/main.sass */
body .column li.item .owner { color: green; }
/* line 158, ../../../app/stylesheets/main.sass */
body .super_column { display: inline; float: left; margin-right: 10px; width: 590px; }
/* line 97, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html body .super_column { overflow-x: hidden; }
/* line 161, ../../../app/stylesheets/main.sass */
body .super_column h2 { border: 1px #ccc solid; margin: 0px; margin-bottom: 5px; background: #f0f0f0; color: #88201B; padding-left: 3px; }
/* line 170, ../../../app/stylesheets/main.sass */
body .column.live { margin-right: 0; }
/* line 173, ../../../app/stylesheets/main.sass */
body .column.done { margin-right: 0; }
/* line 176, ../../../app/stylesheets/main.sass */
body .trash { float: right; background: url(/images/guy.jpg) no-repeat; width: 50px; height: 50px; }
/* line 182, ../../../app/stylesheets/main.sass */
body .hidden { display: none; }
/* line 186, ../../../app/stylesheets/main.sass */
body #simplemodal-container { display: inline; float: left; margin-right: 10px; width: 790px; background: #1D2029; padding: 15px; }
/* line 97, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html body #simplemodal-container { overflow-x: hidden; }
/* line 188, ../../../app/stylesheets/main.sass */
body #simplemodal-container a.modalCloseImg { background: url(/images/x.png) no-repeat; width: 25px; height: 29px; display: inline; z-index: 3200; position: absolute; top: -15px; right: -18px; cursor: pointer; }
/* line 201, ../../../app/stylesheets/main.sass */
body #simplemodal-overlay { background: #1D2029; opacity: 30%; }
/* line 205, ../../../app/stylesheets/main.sass */
body .left-overlay-column { display: inline; float: left; margin-right: 10px; width: 390px; }
/* line 97, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html body .left-overlay-column { overflow-x: hidden; }
/* line 207, ../../../app/stylesheets/main.sass */
body .right-overlay-column { display: inline; float: left; margin-right: 10px; width: 340px; }
/* line 97, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html body .right-overlay-column { overflow-x: hidden; }
/* line 209, ../../../app/stylesheets/main.sass */
body .right-overlay-column input[type='submit'] { float: right; }
/* line 212, ../../../app/stylesheets/main.sass */
body .nav a { margin-bottom: 15px; }
