

/* line 10, ../../../app/stylesheets/main.sass */
body { margin: 0px; color: #444444; font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif; font-size: 11px; font-size-adjust: none; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: -0.04em; line-height: normal; }
/* line 23, ../../../app/stylesheets/main.sass */
body h1 { color: #88201B; font-size: 20px; padding-top: 10px; padding-bottom: 10px; }
/* line 29, ../../../app/stylesheets/main.sass */
body h2 { color: #005E8F; font-size: 14px; line-height: 1.5; font-weight: bold; }
/* line 35, ../../../app/stylesheets/main.sass */
body li { list-style: none; }
/* line 37, ../../../app/stylesheets/main.sass */
body ul { /* tables still need 'cellspacing="0"' in the markup */ padding: 0px; }
/* line 6, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body ul html, body ul body, body ul div, body ul span, body ul applet, body ul object, body ul iframe, body ul h1, body ul h2, body ul h3, body ul h4, body ul h5, body ul h6, body ul p, body ul blockquote, body ul pre, body ul a, body ul abbr, body ul acronym, body ul address, body ul big, body ul cite, body ul code, body ul del, body ul dfn, body ul em, body ul font, body ul img, body ul ins, body ul kbd, body ul q, body ul s, body ul samp, body ul small, body ul strike, body ul strong, body ul sub, body ul sup, body ul tt, body ul var, body ul dl, body ul dt, body ul dd, body ul ol, body ul ul, body ul li, body ul fieldset, body ul form, body ul label, body ul legend, body ul table, body ul caption, body ul tbody, body ul tfoot, body ul thead, body ul tr, body ul th, body ul td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body ul *:focus { outline: 0; }
/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body ul body { line-height: 1em; color: black; background: #fff; }
/* line 23, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body ul ol, body ul ul { list-style: none; }
/* line 27, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body ul table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }
/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body ul caption, body ul th, body ul td { text-align: left; font-weight: normal; vertical-align: middle; }
/* line 33, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body ul q, body ul blockquote { quotes: "" ""; }
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body ul q:before, body ul q:after, body ul blockquote:before, body ul blockquote:after { content: ""; }
/* line 36, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body ul img a { border: none; }
/* line 41, ../../../app/stylesheets/main.sass */
body p { font-family: Helvetica,Arial,sans-serif; color: #777; }
/* line 44, ../../../app/stylesheets/main.sass */
body a { font-size: 12px; text-decoration: none; color: #005e8f; }
/* line 4, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
body a:hover { text-decoration: underline; }
/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body a:hover { color: red; }
/* line 50, ../../../app/stylesheets/main.sass */
body #topnav_container { background: #1D2029; height: 50px; overflow: hidden; right: 0; top: 0; width: 100%; }
/* line 59, ../../../app/stylesheets/main.sass */
body #topnav_container #topnav { width: 950px; margin: 0 auto; overflow: hidden; display: inline-block; }
/* line 5, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
body #topnav_container #topnav { display: block; }
/* line 61, ../../../app/stylesheets/main.sass */
body #topnav_container #topnav h1 { padding: 0px; line-height: 1.0; margin: 0px; font-size: 18px; color: #005E8F; padding-right: 200px; }
/* line 69, ../../../app/stylesheets/main.sass */
body #topnav_container #topnav ul { margin: 0; padding: 0; border: 0; outline: 0; overflow: hidden; display: inline-block; padding: 16px; padding-left: 0px; }
/* line 5, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
body #topnav_container #topnav ul { display: block; }
/* line 50, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
body #topnav_container #topnav ul li { list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
/* line 40, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
body #topnav_container #topnav ul li.first { padding-left: 0px; }
/* line 42, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
body #topnav_container #topnav ul li.last { padding-right: 0px; }
/* line 73, ../../../app/stylesheets/main.sass */
body #topnav_container #topnav ul li { padding-right: 20px; }
/* line 76, ../../../app/stylesheets/main.sass */
body #topnav_container #topnav a { font-size: 14px; text-decoration: none; color: white; }
/* line 4, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
body #topnav_container #topnav a:hover { text-decoration: underline; }
/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body #topnav_container #topnav a:hover { color: red; }
/* line 85, ../../../app/stylesheets/main.sass */
body #sub_header_container { background: #F0F0F0 none repeat scroll 0 0; width: 100%; }
/* line 88, ../../../app/stylesheets/main.sass */
body #sub_header_container #sub_header { width: 950px; margin: 0 auto; overflow: hidden; display: inline-block; }
/* line 5, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
body #sub_header_container #sub_header { display: block; }
/* line 91, ../../../app/stylesheets/main.sass */
body #sub_header_container #sub_header #heading { display: inline; float: left; margin-right: 10px; width: 390px; }
/* line 97, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html body #sub_header_container #sub_header #heading { overflow-x: hidden; }
/* line 93, ../../../app/stylesheets/main.sass */
body #sub_header_container #sub_header #sub_nav { display: inline; float: left; margin-right: 0; width: 550px; padding-top: 23px; text-align: right; }
/* line 97, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html body #sub_header_container #sub_header #sub_nav { overflow-x: hidden; }
/* line 97, ../../../app/stylesheets/main.sass */
body #sub_header_container #sub_header #sub_nav a { text-decoration: none; color: #777777; font-size: 14px; padding-left: 15px; }
/* line 4, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
body #sub_header_container #sub_header #sub_nav a:hover { text-decoration: underline; }
/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body #sub_header_container #sub_header #sub_nav a:hover { color: #88201b; }
/* line 105, ../../../app/stylesheets/main.sass */
body #content { width: 950px; margin: 0 auto; overflow: hidden; display: inline-block; padding: 15px; border: 1px solid #cecece; }
/* line 5, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
body #content { display: block; }
/* line 110, ../../../app/stylesheets/main.sass */
body .column { display: inline; float: left; margin-right: 10px; width: 150px; }
/* line 97, ../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html body .column { overflow-x: hidden; }
/* line 114, ../../../app/stylesheets/main.sass */
body .column h2 { border-bottom: 1px #ccc solid; }
/* line 116, ../../../app/stylesheets/main.sass */
body .column ul.column { padding-top: 10px; border-bottom: 1px solid #666; border-top: 1px solid #666; }
/* line 121, ../../../app/stylesheets/main.sass */
body .column li.story { border: 1px solid #ccc; margin-bottom: 5px; padding: 5px; }
/* line 126, ../../../app/stylesheets/main.sass */
body .column.live { margin-right: 0; }
