!blueprint_grid_columns = 28
!blueprint_grid_margin = 10px
!blueprint_grid_width = 40px

@import blueprint/reset
@import compass/utilities.sass
@import compass/layout.sass
@import blueprint/screen.sass

+blueprint

!kanban_blue = #1D2029
!kanban_grey = #aaaaaa

// html, body
//   :height 100%


body     
  .qtip   
    ul
      :list-style disc inside
      
  #root
    :background-color = !kanban_grey
  .hidden
    display: none
  
  #content
    +container
    :width auto
    :padding 10px
    :background-color = !kanban_grey
    :bottom 10px
    :min-height 80%
    :height auto !important
    
  .nav
    a
      margin-bottom: 15px

  // modal stuff
  #simplemodal-overlay
    :background #1D2029
    :opacity 30%

  #simplemodal-container
    :color #FFFFFF
    :-webkit-border-radius 4px
    :-webkit-box-shadow 5px 5px 5px rgba(0,0,0,0.5)
    :-moz-box-shadow 5px 5px 5px
    :-moz-border-radius 4px
    +column(14)
    div
      +column(14)
      +last
    :background = #1D2029
    :padding 15px
    input, textarea               
      :width 98%
    a.modalCloseImg 
      :background url(/images/x.png) no-repeat
      :width 25px
      :height 29px
      :display inline
      :z-index 3200
      :position absolute
      :top -15px
      :right -18px
      :cursor pointer
    .save
      input
        :width 100px
    .owner
      +column(4)
      select
        :width 98%
    .estimation
      input   
        
        :width 50px
      +column(6)
      +last
      
  
  li
    :list-style none
  ul
    +global-reset
    :padding 0px

  a
    font-size: 12px
    +hover-link
    +link-colors(#005E8F,red)    
  #new_user_session
    label
      :display block
      :font-weight bold
      :font-size 12px
    
  #topnav_container
    :background-color = !kanban_blue
    :height 50px
    :overflow hidden
    :right 0
    :top 0
    :width 100%
    
    h1
      +column(5)
      :padding 12px
      :font-size 24px
      span
        &.static
          :color = #FFFFFF - #707070
        &.dynamic
          :color = #FFFFFF
  
    #topnav    
      ul
        +column(7)
        +horizontal-list
        :padding 16px
        :padding-left 0px
        &.static
          :float right
        li
          :padding-right 20px
        
      a
        :font-size 14px
        +hover-link
        +link-colors(white, red)


  .clear
    clear: both
  .left
    float: left
  
  
  div.lane
    .add-item-link
      :margin-top 4px
      :margin-right 5px
      :position relative
      :float right
    &.last
      +last
    ul
      :width 100%
      :min-height 400px
      :margin 0px
      :padding 0px
      li
        :position relative
        :padding 2px
        :margin 3px
        :margin-left 10px
        :-webkit-border-radius 4px
        :background-color #EBE6C7
        :-moz-border-radius 4px
        .owner
          :font-size 0.75em
          :color #A1A1A0 
        .wip
          :font-size 0.75em
          :color #A1A1A0 - #101010
        h3         
          .id          
            :padding-right px
            :float left
            :font-size 0.8em
            :color = !kanban_grey
          :font-weight bold
          :padding-right 10px
        .right
          :position absolute
          :top -3px
          :right 2px
        
        &.normal
          :border 2px solid #DBE1D2
        &.warn
          :border 2px solid #ffaa00
        &.urgent
          :border 2px solid #ee2200
    
    &.parking
      :background-color = #FFFFFF - #303030
    &.super
      :height 100%
      +column(12)
      :padding 4px
      // :border solid grey 1px
      :background-color = #FFFFFF - #505050
      :-webkit-border-radius 6px
      :-webkit-box-shadow 2px 2px 5px rgba(0,0,0,0.5)
      :-moz-box-shadow 2px 2px 5px
      :-moz-border-radius 8px
      h2
        :text-align center
        :font-size 1.2em
        :padding-top 2px
        :margin-left 5px
        :margin-bottom 5px
      
    :height 100%
    +column(6)
    :border solid grey 1px
    :background-color = #FFFFFF - #101010
    :-webkit-border-radius 6px
    :-webkit-box-shadow 5px 5px 5px rgba(0,0,0,0.5)
    :-moz-box-shadow 5px 5px 5px
    :-moz-border-radius 8px
    
    
    
    h2
      :font-size 1.5em
      :margin-left 10px
      :margin-bottom 0px
      :border-bottom 1px solid grey 


#footer
  :background-color = !kanban_blue
    
!footer_height= 20px 
+sticky-footer(!footer_height, "#root", "#root_footer", "#footer")
