$blueprint_grid_columns: 28
$blueprint_grid_margin: 10px
$blueprint_grid_width: 40px

@import blueprint/reset
@import compass/utilities
@import compass/layout
@import blueprint
@import jquery.ui.sass

+blueprint

$kanban_blue: #1D2029
$kanban_grey: #aaaaaa

// html, body
//   :height 100%


body     
  .qtip   
    ul
      :list-style disc inside
  #root
    :background-color $kanban_grey
  .hidden 
    display: none
  
  #content
    +container
    :width auto
    :padding 10px
    :background-color $kanban_grey
    :bottom 10px
    :min-height 80%
    :height auto !important
    
  .nav
    a
      margin-bottom: 15px

  // modal stuff
  #item-modal-box
    +column(14)
    #tabs
      +column(13)
    .save
      input
        :width 100px
    .item_type
      +column(3)
      select
        +column(2)
    .title
      +column(9)
      input
        +column(8)
    .description
      #item_preview
        :overflow-y auto
        :overflow-x hidden
        +column(12)
        :height 300px
      textarea
        :overflow-y auto
        :overflow-x hidden
        +column(12)
        :height 300px
    .owner
      +column(4)
      select
        :width 98%
    .estimation
      +column(2)
      input   
        :width 50px
    .size
      +column(2)
      input   
        :width 50px

      
      
  
  li
    :list-style none
  ul
    +global-reset
    :padding 0px

  a
    font-size: 12px
    +hover-link
    +link-colors(#005E8F,red)    
  #new_user_session
    label
      :display block
      :font-weight bold
      :font-size 12px
    
  #topnav_container
    :background-color $kanban_blue
    :height 50px
    :overflow hidden
    :right 0
    :top 0
    :width 100%
    
    h1
      +column(5)
      :padding 12px
      :font-size 24px
      span
        &.static
          :color #FFFFFF - #707070
        &.dynamic
          :color #FFFFFF
  
    #topnav    
      ul
        +column(7)
        +horizontal-list
        :padding 16px
        :padding-left 0px
        &.static
          :float right
        li
          :padding-right 20px
        
      a
        :font-size 14px
        +hover-link
        +link-colors(white, red)


  .clear
    clear: both
  .left
    float: left
  
  
  div.lane
    .add-item-link
      :margin-top 4px
      :margin-right 5px
      :position relative
      :float right
    &.last
      +last
    ul
      :width 100%
      :min-height 400px
      :margin 0px
      :padding 0px
      li
        :position relative
        //:padding 2px
        :margin 3px
        :margin-left 10px
        :-webkit-border-radius 4px
        :background-color #f7f7f7
        :-moz-border-radius 4px
        .item_footer
          :padding 1px
          :padding-left 5px
          :padding-right 5px
          :margin 0px
          :background -moz-linear-gradient(top, #f7f7f7, #ddd) /* Firefox */
          :background -webkit-linear-gradient(top, #f7f7f7, #ddd) /* Safari, Chrome - neue Syntax! */
          :background -o-linear-gradient(top, #f7f7f7, #ddd) /* Opera */
          :background -ms-linear-gradient(top, #f7f7f7, #ddd) /* IE */
          :background linear-gradient(top, #f7f7f7, #ddd) /* W3C Standard */
          :border-top 1px solid #ccc
          .id          
            :font-size 0.75em
            :color $kanban_grey
          .owner
            :font-size 0.75em
            :color $kanban_grey 
          .wip
            :font-size 0.75em
            :color #101010
          .size
            :font-size 0.75em
            :color #101010
            :width 18px
            :background-color #FFF
            :border 1px solid #ccc
            :float right
            :text-align center
            :margin-top 3px
        h3         
          :font-weight bold
          :padding 0.5em
          :padding-right 10px
        .right
          :position absolute
          :top -3px
          :right 2px
        
        &.normal
          :border 1px solid #cccccc
        &.warn
          :border 1px solid #cccccc//#ffaa00
        &.urgent
          :border 1px solid #999//#ee2200
        &.roadmap
          :border-top 3px solid #569515
        &.feature
          :border-top 3px solid #3c78b5
        &.support
          :border-top 3px solid #ffaa00
        &.bug
          :border-top 3px solid #e47067
          
    
    &.parking
      :background-color #FFFFFF - #303030
    &.super
      :height 100%
      +column(12)
      :padding 4px
      // :border solid grey 1px
      :background-color #FFFFFF - #505050
      :-webkit-border-radius 6px
      :-webkit-box-shadow 2px 2px 5px rgba(0,0,0,0.5)
      :-moz-box-shadow 2px 2px 5px
      :-moz-border-radius 8px
      h2
        :text-align center
        :font-size 1.2em
        :padding-top 2px
        :margin-left 5px
        :margin-bottom 5px
      
    :height 100%
    +column(6)
    :border solid grey 1px
    :background-color #FFFFFF - #101010
    :-webkit-border-radius 6px
    :-webkit-box-shadow 5px 5px 5px rgba(0,0,0,0.5)
    :-moz-box-shadow 5px 5px 5px
    :-moz-border-radius 8px
    
    
    
    h2
      :font-size 1.5em
      :margin-left 10px
      :margin-bottom 0px
      :border-bottom 1px solid grey 


#footer
  :background-color $kanban_blue
    
$footer_height: 20px 
+sticky-footer($footer_height, "#root", "#root_footer", "#footer")
