= render :partial => 'lanes/lane', :collection => @lanes

-#%ul.dnd.trash{:id => "#{@project.livelog.id}", :href => dnd_items_url(@project, @project.livelog)}
-#  = image_tag 'guy.jpg'
  
#item-edit-overlay.hidden