%h1 Backlog

= render :partial => 'lanes/lane', :object => @backlog
= render :partial => 'lanes/lane', :object => @selected_lane, :locals => {:slide => 'slide'}

#item-modal-box.hidden= render 'items/item_overlay'